{% extends "base.html" %}
{% set auth_page = true %}

{% block title %}Ledger{% endblock %}

{% block content %}
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .btn {
        background-color: #047baa;
        /* Green background */
        border: none;
        /* Remove default border */
        color: white;
        /* White text */
        padding: 14px 14px;
        /* Space inside button */
        text-align: center;
        font-size: 16px;
        border-radius: 8px;
        /* Rounded corners */
        cursor: pointer;
        /* Pointer on hover */
        transition: background-color 0.3s, transform 0.2s;
        /* Smooth effects */
    }

    .btn:hover {
        background-color: #02228a;
        /* Darker green on hover */
        transform: translateY(-2px);
        /* Slight lift effect */
    }

    .btn:active {
        transform: translateY(0);
        /* Pressed effect */
    }
</style>

<div class="container">

    <h1 style="text-align: center;">Ledger</h1>
    <p style="text-align: center; padding-bottom: 30px;">Double-entry Accounting Tool</p>
    <div style="text-align: center;"><a class="btn" href="/auth/login">Login</a> 
        <a class="btn" href="/auth/register">Register</a>
    </div>
</div>


{% endblock %}